body {
	font: 11pt/1.6 Georgia, serif;
	max-width: 70em;
	text-align: left;

	margin: 0 auto 5vh;
	padding: 0 5vw;
	font: 13pt/1.6 Georgia, serif;
}

nav {
	border: solid 1pt black;
	border-top: none;
	position: sticky;
	top: 0;
	background-color: lightsteelblue;
	display: flex;
	padding: 0 1em;
	align-items: center;
	align-self: center;
	max-height: 3em;
}

nav a {
	color: black;
	text-decoration: none;
	padding: 1em;
}

nav a:hover {
	border-bottom: solid 2pt black;
	margin-bottom: -4pt;
}

hr { border-color: black }
header { margin-bottom: 1em }
footer { margin: 1em 0 }

#avatar {
	width: 20em;
	height: auto;
	float: right;
	margin: 1em 0 3em 3em;
	border: solid 1pt lightsteelblue;
}

td, th {
	padding: 0.25em 1em;
	border-left: none;
	border-right: none;
	border-bottom: solid 1pt black;
	text-align: center;
}

form {
	display: inline-block;
	width: 25em;
}

form * {
	box-sizing: border-box;
	display: block;
}

input, textarea {
	min-width: 100%;
	margin-bottom: 1em;
}