<head>
    <title>jmoleroa</title>
    <link rel="stylesheet" href="../../style.css"/>
</head>    
<body>
<nav>
    <a href="#estudios">Estudios</a>
    <a href="#aficiones">Aficiones</a>
    <a href="#horario">Horario</a>
    <a href="#contacto">Contacto</a>
</nav>
<h1>José Manuel Molero</h1>
<p>Soy alumno en la Escuela Politécnica</p>
<img id="avatar" src="miFoto.jpg" alt= "fotografía de mí"/> 

<section id="estudios">
    <h2>Estudios</h2>
    <p>Estudio el grado de ingeniería informática de la <a href="https://www.unex.es/conoce-la-uex/centros/epcc">Escuela Politécnica de Cáceres</a></p>
</section>

<section id="aficiones">    
    <h2>Aficiones</h2>
    <ul>
    <li>Jugar a videojuegos</li>
    <li>Leer</li>
    <li>Escuchar música</li>
    </ul>
</section>

<section id="horario">
    <h2>Horarios</h2>
    <table>
    <caption>Horarios de clases y laboratorios</caption>
    <thead><tr><th>Lunes</th><th>Martes</th><th>Miércoles</th><th>Jueves</th><th>Viernes</th></tr></thead>
    <tr><td>IS</td><td>IS</td><td>SO</td><td>IS</td><td>SO</td></tr>
    <tr><td>ALI</td><td>SO</td><td>ALI</td><td>DISI</td><td>ALI</td></tr>
    <tr><td>DABD</td><td>DABD</td><td>DISI</td><td>DISI</td><td>L. SO</td></tr>
    <tr><td>DABD</td><td>L. ALI</td><td>L. IS</td><td>--</td><td>--</td></tr>
    <tr><td>--</td><td>L. DISI</td><td>--</td><td>--</td><td>--</td></tr>
    </table>
</section>

<section id="contacto">
    <h2><img src="iconoEPCC.png" alt= "icono EPCC"/> Contacto</h2>
    <h3>Datos requeridos</h3>
    <ul>
    <li><p>Nombre: <input type="text" value="Nombre Apellidos"></p></li>
    <li><p>Email: <input type="text" value="xxxx@alumnos.unex.es"> Formato correcto "name@alumnos.unex.es"</p></li>
    <li><p>Sitio web: <input type="text" value="http://unex.es"> Formato correcto "http://unex.es"</p></li>
    <li><p>Mensaje: <textarea></textarea></p></li>
    <li><p><input type="submit" value="Enviar mensaje"></p></li>
    </ul>
</section>

<p><em>El autor: José Manuel Molero <a href="https://mail.google.com/mail/u/0/#inbox">jmoleroa@alumnos.unex.es</a></em></p>
</body>